.headline{

   h1{
      display: flex;
      justify-content: center;
      text-transform:uppercase;
   }

   h2{
      display: flex;
      justify-content: center;
      font-family: Kleukens;
      font-size: 0.8rem;
   }
}